.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@font-face {
    font-family: "Karla";
    src: url("./assets/fonts/static/Karla-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Karla";
    src: url("./assets/fonts/static/Karla-Bold.ttf");
    font-weight: 700;
}

body{
    background-color: hsl(148, 38%, 91%);
    margin: 0;
    font-family: "Karla", sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main{
    max-width: 480px;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

form{
    display: flex;
    flex-direction: column;
}

button{
    background-color: hsl(169, 82%, 27%);
    border-radius: 8px;
    color: white;
    font-family: inherit;
    padding: 10px;
    border: none;
}